/* GLOBAL CSS */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.primary-bg {
  background: #10cfc9 !important;
}

.primary-text {
  color: #10cfc9 !important;
}

.black-text {
  color: #000;
}

.white-text {
  color: #fff;
}

.bottom-shadow {
  height: 4px;
  box-shadow: 0px 3px 6px #00000029;
}

.navbar {
  background: #fff;
}

.navbar-collapse {
  justify-content: center;
}

.nav-link.active {
  color: #10cfc9 !important;
  font-weight: 600;
}

.tab-active {
  background: #10cfc9;
  color: #fff;
}

.tab-inactive {
  background: #efefef;
  color: #000;
}

.footer {
  display: flex;
  background-color: #101820;
  justify-content: center;
  flex-direction: column;
}

.footer-content {
  max-width: 1400px;
  padding: 70px 130px;
}

.footer-left {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer .text {
  width: 326px;
  height: 43px;
  color: #7c868d;
  font-size: 11px;
  margin-top: 22px;
}

.footer-top .footer-nav ul {
  list-style: none;
  display: flex;
  color: #7c868d;
  font-size: 11px;
}

.footer-top .footer-nav ul li {
  margin-right: 20px;
}

.footer-bottom {
  padding: 12px 0px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.divider {
  background-color: #7c868d63;
  height: 0.5px;
}

/************************************ 
    HOME PAGE CSS 
*************************************/

.home {
  display: flex;
  flex-direction: column;

  .banner-1 {
    .home-header {
      z-index: 2;
      position: absolute;
      top: 0;
      width: 100%;
      font-weight: 400;
    }

    .navbar {
      background: none;
      padding: 0;
      z-index: 3;
      padding: 16px 26px;

      a {
        color: #fff;
      }
    }

    .banner-1-img {
      width: 100%;
      object-fit: cover;
    }
  }

  .info-container {
    position: relative;
    background-color: #5b6770;
    padding: 175px 0px 80px;

    .sub-title {
      h3 {
        color: #fff;
        justify-items: center;
      }

      h3::after {
        content: "";
        display: block;
        width: 126px;
        padding-top: 17px;
        border-bottom: 2px solid #10cfc9;
      }
    }

    .info-grids {
      display: flex;
      gap: 12px;
      width: 100%;
      justify-content: center;
      padding: 35px;
    }

    .info {
      border: 1px solid #7c868d;
      padding: 0px 26px;
      width: 200px;
      height: 216px;
      display: flex;
      flex-direction: column;
    }

    .info-icon {
      align-self: center;
      height: 45%;
      align-content: center;

      img {
        height: 64px;
        width: 64px;
      }
    }

    .info-text {
      text-align: center;
      height: 55%;
      color: #fafafa;
      font-size: 18px;
    }

    .sub-title-second {
      text-align: center;

      h5 {
        margin: 0;
        color: #fff;
        justify-self: center;
        max-width: 342px;
      }
    }

    .paragraph {
      text-align: center;
      max-width: 1000px;
      color: #f5f5f5;
      justify-self: center;
      padding: 24px;
    }
  }

  .banner-2 {
    background: url(/assets/img/home-banner-2.png);
    height: 435px;
    background-size: cover;
    width: 100%;
    align-content: center;

    .banner-text {
      border-left: 7px solid #fff;
      padding: 20px 35px;
      margin-left: 115px;

      .title {
        font-weight: 600;
        font-size: 50px;
        color: #fff;
      }
    }
  }

  .car-slider {
    background-color: #13d0ca;
    justify-items: center;
    padding: 70px;

    .title {
      font-size: 28px;
      color: #fff;
      justify-items: center;
      text-align: center;
      font-weight: bold;
    }

    .title::after {
      content: "";
      display: block;
      width: 126px;
      padding-top: 17px;
      border-bottom: 2px solid #ffffff;
      justify-self: center;
    }

    .sub-title {
      width: 55%;
      text-align: center;
    }

    .slider-container {
      width: 90%;

      .pagination-icon {
        background: black;
        width: 96px;
        display: flex;
        justify-content: space-between;
        padding: 8px 20px;
        float: right;
      }

      .slider {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .slider-card {
          height: 415px;
          width: 333px;
          background: #fff;

          img {
            object-fit: cover;
            height: 239px;
          }

          .info {
            padding: 15px;

            .name {
              font-size: 16px;
              font-weight: bold;
            }

            .price {
              font-weight: bold;
              font-size: 18px;
            }

            .spec-grid {
              display: flex;
              justify-content: space-between;

              .spec {
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                  display: flex;
                }

                img {
                  height: 24px;
                  width: 24px;
                  margin-right: 6px;
                }
              }
            }
          }
        }
      }
    }
  }

  .search-bar-container {
    position: absolute;
    top: 590px;
    z-index: 4;
    width: 80%;
    left: 143px;

    .tab-container {
      display: flex;

      .tab {
        padding: 16px 48px;

        p {
          margin: 0;
          font-size: 14px;
        }
      }
    }

    .search-form {
      display: flex;
      justify-content: space-evenly;
      padding: 39px 0px;
      background: white;

      .form-select {
        width: 175px;
      }

      .input-group {
        width: 175px;
      }
    }

    .search-btn {
      /* padding: 10px 40px; */
      background: #10cfc9;
      color: #fff;
      border: none;
      font-size: 14px;
      width: 176px;
      height: 47px;
    }
  }
}

/************************************ 
   ABOUT US PAGE CSS 
*************************************/

.about-container {
  display: flex;
  justify-content: center;
}

.banner {
  height: 215px;
  background-color: #13d0ca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: #f7f7f7;
  text-shadow: #00000040 0px 3px 4px;
  font-weight: bold;
}

.black-highlight {
  color: #101820;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.breadcrumb li a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.dot {
  position: relative;
  top: 8px;
  width: 3px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  color: #ffffff;
}

.text-content {
  padding: 0px 180px;
  max-width: 1400px;
}

.text-content h4 {
  margin-top: 80px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.text-content p {
  color: #7c868d;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 25px;
}

.text-content h3 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #101820;
}

.pointers {
  padding: 11px 28px 80px;
}

.pointers ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
}

.pointers ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  color: #7c868d;
}

.pointers ul li img {
  margin-right: 10px;
  /* Space between icon and text */
}

/************************************ 
   VALUE MY VEHICLE PAGE CSS 
*************************************/

.banner-img {
  position: relative;
  background: url("/assets/img/value-my-car-banner.jpg") no-repeat center/cover;
  overflow: hidden;
}

.banner-img::before,
.buy-used-banner-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #5b6770;
  mix-blend-mode: darken;
  opacity: 0.71;
}

.banner-content {
  z-index: 2;
}

.value-my-vehicle-container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.section-title {
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.form-section {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.form-section .form-control,
.form-section .form-select {
  padding: 14px 15px;
  font-size: 14px;
  background-color: #f7f7f7;
  color: #7c868d;
  border: none;
}

.form-label {
  font-size: 14px;
  color: #5b6770;
}

.btn-submit {
  background-color: #00c8c8;
  width: 240px;
  height: 46px;
  color: #fff;
  border: none;
  padding: 8px 88px;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 50px;
}

.how-it-works {
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 70px;
  }

  .card {
    width: 100%;
    max-width: 217px;
    border: none;
    align-items: center;
  }

  .card-img {
    display: flex;
    width: 140px;
    height: 140px;
    background-color: #13d0ca;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    img {
      max-width: 70%;
      max-height: 70%;
    }
  }

  .card-content {
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: #6c757d;
    }
  }

  .row {
    gap: 60px;
  }

  .col-md-4 {
    width: 17.333333%;
  }

  .header-underline {
    width: 126px;
    height: 2px;
    background-color: #13d0ca;
    margin: 0 auto 40px;
    border-radius: 2px;
  }

  &.mt-5 {
    margin-top: 70px !important;
  }

  &.mb-4 {
    margin-bottom: 30px !important;
  }
}

/************************************ 
  BUY USED PAGE CSS 
*************************************/

.buy-used-banner-img {
  position: relative;
  background: url("/assets/img/buy-used-banner.jpg") no-repeat center/cover;
  overflow: hidden;
}

.buy-used-container {
  margin-top: 50px;

  .container {
    .sidebar {
      border: 1px solid #efefef;
      background-color: #ffff;
      padding: 25px;
      max-height: 800px;
    }
  }

  .certified-cars,
  .make-model {
    padding: 15px;
    border: 0.5px solid #efefef;
  }

  .sidebar {
    .form-select {
      padding: 13px 15px;
      font-size: 14px;
      color: #7c868d;
      border: 1px solid #efefef;
      border-radius: 0;
    }

    .form-check-input {
      &:checked {
        background-color: #10cfc9 !important;
        border-color: #10cfc9 !important;
      }
    }

    .form-check {
      .form-check-input {
        margin-left: 0;
      }

      .form-check-label {
        font-size: 14px;
        color: #7c868d;
        margin-left: 8px;
      }
    }
  }

  .make-model {
    .form-check {
      padding-left: 0;
    }

    hr {
      margin: 6px 0;
      color: #efefef;
      opacity: 1;
    }
  }

  .filter-group {
    margin-bottom: 20px;

    .filter-title {
      font-size: 14px;
      color: #7c868d;
      margin-bottom: 10px;
    }

    .d-flex {
      span {
        font-size: 0.9rem;
        color: #777;
      }
    }
  }

  .budget-title {
    color: #101820;
    font-size: 12px;
    font-weight: bold;
  }

  .additional-filters {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .buy-used-cards {
    .card {
      max-width: 285px;
      max-height: 385px;
      border: 1px solid #efefef;
      overflow: hidden;
      border-radius: 0;

      .card-img-top {
        height: 204px;
        object-fit: cover;
        border-radius: 0;
      }

      .card-title {
        font-size: 16px;
        font-weight: medium;
        color: #101820;
        margin-bottom: 0;
      }

      .card-text {
        font-size: 11px;
        color: #7c868d;
        margin: 7px 0 10px;
      }

      .price {
        font-size: 17px;
        font-weight: bold;
        color: #101820;
        margin-bottom: 10px !important;
      }

      .seller-details {
        color: #13d0ca;
        font-size: 15px;
        font-weight: medium;
        text-decoration: none;
      }

      .card-body {
        .right-arrow {
          margin-left: 13px;
        }
      }

      hr {
        margin: 11px 0;
        color: #efefef;
        opacity: 1;
      }
    }
  }

  .pagination-container {
    hr {
      color: #efefef;
      opacity: 1;
      margin-top: 10px;
    }

    .page-specs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px;

      .title {
        color: #7c868d;
        font-size: 12px;

        span {
          font-size: 14px;
          font-weight: bold;
          color: #000;
        }
      }

      .pagination {
        font-size: 11px;
        display: flex;
        align-items: center;
        gap: 6px;

        .rows-select {
          width: 34px;
          height: 24px;
          border: 1px solid #efefef;
          border-radius: 0px;
          -webkit-appearance: none;
          -moz-appearance: none;

          text-overflow: "";
          background-repeat: no-repeat;
          background-size: 15px;
          background-image: url(/assets/icons/arrow-down.svg);
          background-position-x: right;
          background-position-y: center;
        }

        .goto-input {
          width: 34px;
          height: 24px;
          border: 1px solid #efefef;
          border-radius: 0px;
        }

        .pagination-btn-container {
          width: 54px;
          display: flex;
          height: 24px;

          .pagination-btn {
            color: #fff;
            background: #10cfc9;
            width: 50%;
            border: none;
          }
        }
      }
    }
  }

  .location {
    img {
      width: 18px;
      height: 18px;
    }

    p {
      font-size: 12px;
      color: #7c868d;
      margin-left: 8px;
    }
  }

  .btn-link {
    &:hover {
      text-decoration: underline;
    }
  }

  .jeep-models {
    margin-left: 20px;
  }

  .expand-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
  }

  .custom-select-wrapper {
    position: relative;
    margin-bottom: 6px;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      padding-right: 22px !important;
    }

    .custom-arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none;
      width: 10px;
      height: 10px;
      background: url("/assets/icons/arrow-down.svg") no-repeat center center;
      background-size: contain;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #e0e0e0;
    border-radius: 4px;
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 13px;
      height: 13px;
      background: #10cfc9;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-slider-runnable-track {
      background: #dddddd;
      height: 4px;
      border-radius: 4px;
    }

    &::-moz-range-thumb {
      width: 13px;
      height: 13px;
      background: #10cfc9;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &::-moz-range-track {
      background: #e0e0e0;
      height: 4px;
      border-radius: 4px;
    }

    &::-moz-range-progress {
      background: #10cfc9;
      height: 4px;
      border-radius: 4px;
    }

    &::-ms-thumb {
      width: 13px;
      height: 13px;
      background: #10cfc9;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &::-ms-track {
      background: #e0e0e0;
      height: 4px;
      border-color: transparent;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: #10cfc9;
      border-radius: 4px;
    }

    &::-ms-fill-upper {
      background: #e0e0e0;
      border-radius: 4px;
    }
  }
}

/************************************ 
  CAR DETAILS PAGE CSS 
*************************************/

.car-details {
  max-width: 1110px;
  margin: 28px auto;

  .page-breadcrumb {
    display: flex;
    justify-content: flex-start;

    .breadcrumb li a {
      text-decoration: none;
      font-size: 14px;
      color: #7c868d;
      cursor: pointer;
    }

    .dot {
      background-color: #7c868d;
      border-radius: 2px;
      position: relative;
      top: 11px;
    }
  }

  .car-title {
    display: flex;
    justify-content: space-between;

    .title {
      display: flex;
      flex-direction: column;

      .car-name {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .car-price {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .car-specs,
    .car-location {
      margin-top: 2px;
      font-size: 12px;
      color: #7c868d;
    }
  }

  .details-container {
    display: flex;
    gap: 45px;

    .car-overview {
      width: 60%;

      .splide__slide img {
        width: 100%;
        height: auto;
      }

      .overview {
        .title {
          display: block;
          background: #000;
          padding: 10px 15px;
          color: #fff;
          width: 100%;
          font-size: 14px;
        }

        .overview-spec {
          display: flex;
          border: 1px solid #efefef;

          .spec-row {
            width: 100%;

            .spec {
              width: 50%;
              padding: 8px 16px;
              font-size: 12px;
              display: flex;
              width: 100%;

              .header {
                width: 60%;
                color: #7c868d;

                img {
                  margin-right: 6px;
                }
              }

              .data {
                width: 40%;
                font-weight: 500;
                color: #5b6770;
              }
            }
          }

          .spec:first-child {
            margin-top: 8px;
          }

          .spec:last-child {
            margin-bottom: 8px;
          }
        }
      }

      .vehicle-estimate {
        padding: 20px;
        border: 1px solid #efefef;

        .title {
          font-size: 16px;
          text-align: center;
        }

        .info-grids {
          display: flex;
          gap: 12px;
          width: 100%;
          justify-content: center;
          padding: 6px;
        }

        .info {
          padding: 0px 6px;
          width: 180px;
          height: 145px;
          display: flex;
          flex-direction: column;
        }

        .info-icon {
          align-self: center;
          height: 30%;
          align-content: center;

          img {
            height: 38px;
            width: 38px;
          }
        }

        .info-title {
          text-align: center;
          font-weight: bold;
          font-size: 13px;
        }

        .info-text {
          margin-top: 3px;
          text-align: center;
          height: 55%;
          color: #7c868d;
          font-size: 12px;
        }

        .paragraph {
          color: #7c868d;
          font-size: 12px;
        }

        .value-vehicle-btn {
          background-color: #13d0ca;
          color: #fff;
          border: none;
          padding: 9px;
          width: 235px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          justify-self: center;
          margin: 26px 0px;
        }
      }
    }

    .car-extra-details {
      width: 36%;

      .title {
        font-size: 16px;
        font-weight: bold;
      }

      .test-drive {
        border: 1px solid #efefef;
        color: #7c868d;
        padding: 30px;

        p {
          font-size: 16px;
        }

        .interested-btn {
          background-color: #13d0ca;
          border-radius: 8px;
          width: 100%;
          border: none;
          color: #fff;
          padding: 6px;
        }
      }

      .retailer {
        padding: 20px;
        border: 1px solid #efefef;

        .sub-title {
          color: #5b6770;
          font-size: 16px;
        }

        .address {
          color: #5b6770;
        }

        .phone {
          span {
            font-weight: 500;
          }
        }
      }

      .warranty {
        padding: 20px;
        border: 1px solid #efefef;

        .sub-title {
          font-weight: bold;
          font-size: 14px;
          color: #13d0ca;
        }

        ul {
          padding: 0;
          margin-top: 10px;

          li {
            img {
              height: 14px;
              width: 14px;
              margin-right: 6px;
            }

            list-style: none;
            color: #7c868d;
            font-size: 12px;
            display: flex;
            padding: 6px 0px;
            align-items: center;
          }
        }
      }
    }
  }
}
