/* GLOBAL CSS */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.primary-bg {
  background: #10cfc9 !important;
}

.primary-text {
  color: #10cfc9 !important;
}

.black-text {
  color: #000 !important;
}

.white-text {
  color: #fff;
}

.bottom-shadow {
  height: 4px;
  box-shadow: 0px 3px 6px #00000029;
}

.navbar {
  background: #fff;
  z-index: 5;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-toggler {
  border: none !important;
}

.home-navbar {
  .navbar-toggler-icon {
    background-image: url(/assets/icons/hamburger.svg) !important;
  }

  a {
    color: #fff;
  }
}

.navbar-toggler-icon {
  background-image: url(/assets/icons/hamburger-black.svg) !important;
}

.nav-side-bar {
  background: #101820 !important;
  opacity: 0.95;
}

.offcanvas-header {
  justify-content: space-between;
}

.offcanvas-body {
  line-height: 32px;
  font-size: 18px;
}

.nav-side-bar-close {
  cursor: pointer;
}

.nav-link.active {
  color: #10cfc9 !important;
  font-weight: 600;
}

.tab-active {
  background: #10cfc9;
  color: #fff;
}

.tab-inactive {
  background: #efefef;
  color: #000;
}

.footer {
  display: flex;
  background-color: #101820;
  justify-content: center;
  flex-direction: column;
}

.footer-content {
  max-width: 1400px;
  padding: 70px 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  flex-direction: column;
}

.footer .text {
  width: 326px;
  height: 43px;
  color: #7c868d;
  font-size: 11px;
  margin-top: 22px;
}

.footer-content .footer-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  color: #7c868d;
  font-size: 11px;
}

.footer-content .footer-nav ul li {
  margin-right: 20px;
}

.footer-bottom {
  padding: 12px 0px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

.divider {
  background-color: #7c868d63;
  height: 0.5px;
}

/************************************ 
    HOME PAGE CSS 
*************************************/

.home {
  display: flex;
  flex-direction: column;

  .banner-1 {
    .home-header {
      z-index: 2;
      position: absolute;
      top: 0;
      width: 100%;
      font-weight: 400;
    }

    .navbar {
      background: none;
      padding: 0;
      z-index: 3;
      padding: 16px 26px;
    }

    .main-banner-text {
      position: absolute;
      right: 50px;
      top: 160px;
    }

    .main-banner-text-left {
      position: absolute;
      left: 80px;
      top: 160px;
    }

    .main-banner-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-container {
    position: relative;
    background-color: #5b6770;
    padding: 90px 0px 80px;

    .sub-title {
      h3 {
        color: #fff;
        justify-items: center;
      }

      h3::after {
        content: "";
        display: block;
        width: 126px;
        padding-top: 17px;
        border-bottom: 2px solid #10cfc9;
      }
    }

    .info-grids {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      width: 100%;
      justify-content: center;
      padding: 35px;
    }

    .info {
      border: 1px solid #7c868d;
      padding: 0px 26px;
      width: 200px;
      height: 216px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    .info:hover {
      background-color: #10cfc9;
      border-color: #10cfc9 !important;
      color: #fafafa;
      transition: background-color 0.3s ease-in;
    }

    .info-icon {
      align-self: center;
      height: 45%;
      align-content: center;

      img {
        height: 64px;
        width: 64px;
      }
    }

    .info-text {
      text-align: center;
      height: 55%;
      color: #fafafa;
      font-size: 1rem;
    }

    .sub-title-second {
      text-align: center;

      h5 {
        margin: 0;
        color: #fff;
        justify-self: center;
        max-width: 342px;
      }
    }

    .paragraph {
      text-align: center;
      max-width: 1000px;
      color: #f5f5f5;
      justify-self: center;
      padding: 24px;
    }
  }

  .banner-2 {
    height: 435px;
    background-size: cover;
    width: 100%;
    align-content: center;

    .second-banner-img {
      width: 100%;
      object-fit: cover;
    }
  }

  .car-slider {
    background-color: #13d0ca;
    justify-items: center;
    padding: 70px;

    .title {
      font-size: 28px;
      color: #fff;
      justify-items: center;
      text-align: center;
      font-weight: bold;
    }

    .title::after {
      content: "";
      display: block;
      width: 126px;
      padding-top: 17px;
      border-bottom: 2px solid #ffffff;
      justify-self: center;
    }

    .sub-title {
      width: 55%;
      text-align: center;
    }

    .slider-container {
      width: 90%;

      .pagination-icon {
        background: black;
        width: 96px;
        display: flex;
        justify-content: space-between;
        padding: 8px 20px;
        float: right;
      }

      .slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        .slider-card {
          height: 415px;
          width: 333px;
          background: #fff;

          img {
            object-fit: cover;
            height: 239px;
          }

          .info {
            padding: 15px;

            .name {
              font-size: 16px;
              font-weight: bold;
            }

            .price {
              font-weight: bold;
              font-size: 18px;
            }

            .spec-grid {
              display: flex;
              justify-content: space-between;

              .spec {
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                  display: flex;
                }

                img {
                  height: 24px;
                  width: 24px;
                  margin-right: 6px;
                }
              }
            }
          }
        }
      }
    }
  }

  .search-bar-container {
    position: absolute;
    top: 55vh;
    z-index: 1;
    width: 80%;
    left: 10%;

    .tab-container {
      display: flex;
      width: 320px;

      .tab {
        padding: 16px 48px;
        width: 50%;
        justify-items: center;

        p {
          margin: 0;
          font-size: 14px;
        }
      }
    }

    .search-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 39px 0px;
      background: white;
      --bs-body-color: #5b6770;
      --bs-border-radius: none;

      .form-select,
      .form-control {
        padding: 12px 16px;
        font-size: 14px;
        width: 175px;
      }

      .input-group {
        width: 175px;
      }
    }

    .search-btn {
      background: #10cfc9;
      color: #fff;
      border: none;
      font-size: 14px;
      width: 176px;
      height: 47px;
    }
  }
}

/************************************ 
   ABOUT US PAGE CSS 
*************************************/

.about-container {
  display: flex;
  justify-content: center;
}

.banner {
  height: 215px;
  background-color: #13d0ca;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: #f7f7f7;
  text-shadow: #00000040 0px 3px 4px;
  font-weight: bold;
}

.black-highlight {
  color: #101820;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.breadcrumb li a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.dot {
  position: relative;
  top: 8px;
  width: 3px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
  color: #ffffff;
}

.text-content {
  padding: 0px 180px;
  max-width: 1400px;
}

.text-content h4 {
  margin-top: 80px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}

.text-content p {
  color: #7c868d;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 25px;
}

.text-content h3 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #101820;
}

.pointers {
  padding: 11px 28px 80px;
}

.pointers ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
}

.pointers ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  color: #7c868d;
}

.pointers ul li img {
  margin-right: 10px;
  /* Space between icon and text */
}

/************************************ 
   VALUE MY VEHICLE PAGE CSS 
*************************************/

/* .banner-img {
  position: relative;
  background: url("/assets/img/value-my-car-banner.jpg") no-repeat center/cover;
  overflow: hidden;
}

.banner-img::before,
.buy-used-banner-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #5b6770;
  mix-blend-mode: darken;
  opacity: 0.71;
}

.banner-content {
  z-index: 2;
}

.value-my-vehicle-container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.section-title {
  background-color: #000;
  color: #fff;
  padding: 10px 30px;
  font-size: 20px;
}

.form-section {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.form-section .form-control,
.form-section .form-select {
  padding: 14px 15px;
  font-size: 14px;
  background-color: #f7f7f7;
  color: #7c868d;
  border: none;
}

.form-label {
  font-size: 14px;
  color: #5b6770;
}

.btn-submit {
  background-color: #00c8c8;
  width: 240px;
  height: 46px;
  color: #fff;
  border: none;
  padding: 8px 88px;
  border-radius: 8px;
  font-size: 20px;
  margin-bottom: 50px;
}

.how-it-works {
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 70px;
  }

  .card {
    width: 100%;
    max-width: 217px;
    border: none;
    align-items: center;
  }

  .card-img {
    display: flex;
    width: 140px;
    height: 140px;
    background-color: #13d0ca;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    img {
      max-width: 70%;
      max-height: 70%;
    }
  }

  .card-content {
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
      color: #6c757d;
    }
  }

  .row {
    gap: 60px;
  }

  .col-md-4 {
    width: 17.333333%;
  }

  .header-underline {
    width: 126px;
    height: 2px;
    background-color: #13d0ca;
    margin: 0 auto 40px;
    border-radius: 2px;
  }

  &.mt-5 {
    margin-top: 70px !important;
  }

  &.mb-4 {
    margin-bottom: 30px !important;
  }
} */

.vehicle-main-container {
  max-width: 1440px !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicle-main-container .matrix-store-list-container {
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.vehicle-main-container .matrix-container {
  max-width: 490px;
}

.vehicle-main-container .store-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.vehicle-main-container .store-list-container .circle-tag {
  width: 18px;
  height: 18px;
  margin-top: 0px;
  border: 2px solid #13d0ca !important;
  background-color: #ffffff !important;
  border-radius: 50%;
  appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}

.vehicle-main-container .store-list-container .circle-tag:focus {
  box-shadow: 0 0 5px 2px rgba(19, 208, 202, 0.75);
}

.vehicle-main-container .store-list-container .circle-tag:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #13d0ca;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vehicle-main-container .store-list-container .sales-tag {
  align-items: center;
}

.vehicle-main-container .store-list-container .store-details-card {
  max-width: 470px;
  background-color: #f7f7f7;
  border: 1px solid #efefef;
  padding: 22px 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vehicle-main-container
  .store-list-container
  .store-details-card
  .sales-content {
  margin-left: 25px;
}

.vehicle-main-container .store-list-container .store-details-card .location {
  display: flex;
  gap: 7px;
  margin-top: 12px;
}

.vehicle-main-container .matrix-container .matrix-title {
  font-size: 24px !important;
  color: #ffffff;
  background-color: #101820;
  max-width: 222px;
  padding: 10px 30px;
}

.matrix-body .vehicle-name {
  margin-top: 0;
  font-size: 20px;
  color: #101820;
  font-weight: 500;
}

.matrix-body .kms-owners {
  margin-top: 30px;
}

.matrix-body .matrix-row {
  width: 100%;
}

.matrix-body .matrix-row .value {
  width: 25%;
}

.matrix-body .matrix-row .key {
  width: 75%;
  font-size: 18px;
  color: #7c868d;
  margin-bottom: 0px;
}

.matrix-body .matrix-div .title {
  color: #000000;
  font-weight: 500;
}

.matrix-body hr {
  border: 1px solid #efefef;
  opacity: 1;
}

.matrix-header {
  margin-bottom: 30px;
}

.matrix-body .svg-bg {
  background: url("assets/img/price_matrix_bg_design.png");
  background-position: center;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  margin-top: 30px;
}

.matrix-body .price-matrix-content {
  padding: 30px 20px;
}

.matrix-body .svg-bg .rv-matrix {
  font-size: 20px;
  margin-bottom: 15px;
}

.matrix-body .price-matrix-content .price {
  border-top: 1px solid #efefef;
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

.matrix-body .svg-bg .description {
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 15px;
}

.matrix-container .note p {
  font-size: 18px;
  color: #7c868d !important;
  font-weight: normal;
  margin-top: 21px;
}

.vehicle-main-container .evaluation-btn {
  width: 310px;
  height: 50px;
  background-color: #10cfc9;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.vehicle-main-container .evaluation-btn-container {
  padding: 20px 0px 60px;
}

.store-list-container .header {
  font-size: 20px;
  color: #101820;
  font-weight: 500;
}

.store-list-container .header .store-list {
  margin-bottom: 0px;
}

.store-list-container .sales-tag label {
  font-size: 18px;
  font-weight: 500;
}

.store-list-container .sales-content .mob-number {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 500;
}

.store-list-container .phone-number {
  display: flex;
  font-weight: bold;
  gap: 6px;
  align-items: center;
}

.store-list-container .phone-number img {
  vertical-align: middle;
  width: 16px;
  height: 18px;
}

.store-list-container .sales-content .location .address {
  margin-top: 2px;
  margin-bottom: 0px;
  line-height: 17px;
  font-size: 14px;
  color: #7c868d;
}

.kms-owners .matrix-row:nth-of-type(1) {
  margin-top: 30px;
}

/************************************ 
  BUY USED PAGE CSS 
*************************************/

.buy-used-banner-img {
  position: relative;
  background: url("/assets/img/buy-used-banner.jpg") no-repeat center/cover;
  overflow: hidden;
}

.buy-used-container {
  margin-top: 50px;

  .container {
    .sidebar {
      border: 1px solid #efefef;
      background-color: #ffff;
      padding: 25px;
      max-height: 800px;
    }
  }

  .certified-cars,
  .make-model {
    padding: 15px;
    border: 0.5px solid #efefef;
  }

  .sidebar {
    .form-select {
      padding: 13px 15px;
      font-size: 14px;
      color: #7c868d;
      border: 1px solid #efefef;
      border-radius: 0;
    }

    .form-check-input {
      &:checked {
        background-color: #10cfc9 !important;
        border-color: #10cfc9 !important;
      }
    }

    .form-check {
      .form-check-input {
        margin-left: 0;
      }

      .form-check-label {
        font-size: 14px;
        color: #7c868d;
        margin-left: 8px;
      }
    }
  }

  .make-model {
    .form-check {
      padding-left: 0;
    }

    hr {
      margin: 6px 0;
      color: #efefef;
      opacity: 1;
    }
  }

  .filter-group {
    margin-bottom: 20px;

    .filter-title {
      font-size: 14px;
      color: #7c868d;
      margin-bottom: 10px;
    }

    .d-flex {
      span {
        font-size: 0.9rem;
        color: #777;
      }
    }
  }

  .budget-title {
    color: #101820;
    font-size: 12px;
    font-weight: bold;
  }

  .additional-filters {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .buy-used-cards {
    .card {
      max-width: 285px;
      max-height: 385px;
      border: 1px solid #efefef;
      overflow: hidden;
      border-radius: 0;

      .card-img-top {
        height: 204px;
        object-fit: cover;
        border-radius: 0;
      }

      .card-title {
        font-size: 16px;
        font-weight: medium;
        color: #101820;
        margin-bottom: 0;
      }

      .card-text {
        font-size: 11px;
        color: #7c868d;
        margin: 7px 0 10px;
      }

      .price {
        font-size: 17px;
        font-weight: bold;
        color: #101820;
        margin-bottom: 10px !important;
      }

      .seller-details {
        color: #13d0ca;
        font-size: 15px;
        font-weight: medium;
        text-decoration: none;
      }

      .card-body {
        .right-arrow {
          margin-left: 13px;
        }
      }

      hr {
        margin: 11px 0;
        color: #efefef;
        opacity: 1;
      }
    }
  }

  .pagination-container {
    hr {
      color: #efefef;
      opacity: 1;
      margin-top: 10px;
    }

    .page-specs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px;

      .title {
        color: #7c868d;
        font-size: 12px;

        span {
          font-size: 14px;
          font-weight: bold;
          color: #000;
        }
      }

      .pagination {
        font-size: 11px;
        display: flex;
        align-items: center;
        gap: 6px;

        .rows-select {
          width: 34px;
          height: 24px;
          border: 1px solid #efefef;
          border-radius: 0px;
          -webkit-appearance: none;
          -moz-appearance: none;

          text-overflow: "";
          background-repeat: no-repeat;
          background-size: 15px;
          background-image: url(/assets/icons/arrow-down.svg);
          background-position-x: right;
          background-position-y: center;
        }

        .goto-input {
          width: 34px;
          height: 24px;
          border: 1px solid #efefef;
          border-radius: 0px;
        }

        .pagination-btn-container {
          width: 54px;
          display: flex;
          height: 24px;

          .pagination-btn {
            color: #fff;
            background: #10cfc9;
            width: 50%;
            border: none;
          }
        }
      }
    }
  }

  .location {
    img {
      width: 18px;
      height: 18px;
    }

    p {
      font-size: 12px;
      color: #7c868d;
      margin-left: 8px;
    }
  }

  .btn-link {
    &:hover {
      text-decoration: underline;
    }
  }

  .jeep-models {
    margin-left: 20px;
  }

  .expand-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
  }

  .custom-select-wrapper {
    position: relative;
    margin-bottom: 6px;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      padding-right: 22px !important;
    }

    .custom-arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none;
      width: 10px;
      height: 10px;
      background: url("/assets/icons/arrow-down.svg") no-repeat center center;
      background-size: contain;
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #e0e0e0;
    border-radius: 4px;
    outline: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 13px;
      height: 13px;
      background: #10cfc9;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-slider-runnable-track {
      background: #dddddd;
      height: 4px;
      border-radius: 4px;
    }

    &::-moz-range-thumb {
      width: 13px;
      height: 13px;
      background: #10cfc9;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &::-moz-range-track {
      background: #e0e0e0;
      height: 4px;
      border-radius: 4px;
    }

    &::-moz-range-progress {
      background: #10cfc9;
      height: 4px;
      border-radius: 4px;
    }

    &::-ms-thumb {
      width: 13px;
      height: 13px;
      background: #10cfc9;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &::-ms-track {
      background: #e0e0e0;
      height: 4px;
      border-color: transparent;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: #10cfc9;
      border-radius: 4px;
    }

    &::-ms-fill-upper {
      background: #e0e0e0;
      border-radius: 4px;
    }
  }
}

/************************************ 
  CAR DETAILS PAGE CSS 
*************************************/

.car-details {
  max-width: 1200px;
  margin: 28px auto;

  .page-breadcrumb {
    display: flex;
    justify-content: flex-start;

    .breadcrumb li a {
      text-decoration: none;
      font-size: 14px;
      color: #7c868d;
      cursor: pointer;
    }

    .dot {
      background-color: #7c868d;
      border-radius: 2px;
      position: relative;
      top: 11px;
    }
  }

  .car-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .title {
      display: flex;
      flex-direction: column;

      .car-name {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .car-price {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .car-specs,
    .car-location {
      margin-top: 2px;
      font-size: 12px;
      color: #7c868d;
    }
  }

  .details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: space-between;

    .car-overview {
      width: 60%;

      .splide__slide img {
        width: 100%;
        height: auto;
      }

      .splide__arrow {
        background: none !important;
        width: 1em !important;
      }

      .splide__arrow--prev {
        left: 0em !important;
        width: 20px !important;
      }

      .splide__arrow--next {
        right: 0em !important;
        width: 20px !important;
      }

      .thumbnail-preview-container {
        padding: 0px 28px !important;

        .splide__slide.is-active {
          border: 3px solid #13d0ca;
        }
      }

      .overview {
        .title {
          display: block;
          background: #000;
          padding: 10px 15px;
          color: #fff;
          width: 100%;
          font-size: 14px;
        }

        .overview-spec {
          display: flex;
          border: 1px solid #efefef;

          .spec-row {
            width: 100%;

            .spec {
              width: 50%;
              padding: 8px 16px;
              font-size: 12px;
              display: flex;
              width: 100%;

              .header {
                width: 60%;
                color: #7c868d;

                img {
                  margin-right: 6px;
                }
              }

              .data {
                width: 40%;
                font-weight: 500;
                color: #5b6770;
              }
            }
          }

          .spec:first-child {
            margin-top: 8px;
          }

          .spec:last-child {
            margin-bottom: 8px;
          }
        }
      }

      .vehicle-estimate {
        padding: 20px;
        border: 1px solid #efefef;

        .title {
          font-size: 16px;
          text-align: center;
        }

        .info-grids {
          display: flex;
          gap: 12px;
          width: 100%;
          justify-content: center;
          padding: 6px;
          flex-wrap: wrap;
        }

        .info {
          padding: 0px 6px;
          width: 150px;
          height: 145px;
          display: flex;
          flex-direction: column;
        }

        .info-icon {
          align-self: center;
          height: 30%;
          align-content: center;

          img {
            height: 38px;
            width: 38px;
          }
        }

        .info-title {
          text-align: center;
          font-weight: bold;
          font-size: 13px;
        }

        .info-text {
          margin-top: 3px;
          text-align: center;
          height: 55%;
          color: #7c868d;
          font-size: 12px;
        }

        .paragraph {
          color: #7c868d;
          font-size: 12px;
        }

        .value-vehicle-btn {
          background-color: #13d0ca;
          color: #fff;
          border: none;
          padding: 9px;
          width: 250px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          justify-self: center;
          margin: 26px 0px;
          font-size: 15px;
        }
      }
    }

    .car-extra-details {
      width: 36%;

      .title {
        font-size: 16px;
        font-weight: bold;
      }

      .test-drive {
        border: 1px solid #efefef;
        color: #7c868d;
        padding: 30px;

        p {
          font-size: 16px;
        }

        .interested-btn {
          background-color: #13d0ca;
          border-radius: 8px;
          width: 100%;
          border: none;
          color: #fff;
          padding: 6px;
        }
      }

      .retailer {
        padding: 20px;
        border: 1px solid #efefef;

        .sub-title {
          color: #5b6770;
          font-size: 16px;
        }

        .address {
          color: #5b6770;
        }

        .phone {
          span {
            font-weight: 500;
          }
        }
      }

      .warranty {
        padding: 20px;
        border: 1px solid #efefef;

        .sub-title {
          font-weight: bold;
          font-size: 14px;
          color: #13d0ca;
        }

        ul {
          padding: 0;
          margin-top: 10px;

          li {
            img {
              height: 14px;
              width: 14px;
              margin-right: 6px;
            }

            list-style: none;
            color: #7c868d;
            font-size: 12px;
            display: flex;
            padding: 6px 0px;
            align-items: center;
          }
        }
      }
    }
  }

  .user-details {
    .modal-dialog {
      max-width: 319px;
      max-height: 588px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    h5 {
      color: #101820;
    }

    .modal-sub-title {
      font-size: 12px !important;
      color: #7c868d;
      margin-bottom: 0px;
    }

    .modal-body {
      padding: 25px;
      padding-top: 20px;
      padding-bottom: 0px;
    }

    .modal-body input,
    .modal-body textarea {
      font-size: 14px;
      color: #7c868d;
      max-height: 40px;
      border: 1px solid #efefef;
      border-radius: 8px;
      padding: 12px 15px;
    }

    .modal-body .form-check-input {
      width: 18px;
      height: 18px;
      border-radius: 4px;
      border-color: #10cfc9;
      padding: 0px;
    }

    .modal-body .consent-checkbox {
      margin-top: 15px;
    }

    .modal-body .form-check-input:checked {
      background-color: #10cfc9;
      border-color: #10cfc9;
    }

    .modal-body .form-check-label {
      padding-left: 7px;
    }

    .modal-body textarea {
      max-height: 102px;
    }

    .modal-body label {
      font-size: 13px;
      color: #7c868d;
    }

    .modal-body .text-underline {
      text-decoration: underline;
      font-weight: bold;
    }

    .modal-footer button {
      background-color: #10cfc9;
      border: none;
      font-size: 14px;
      padding: 12px;
      border-radius: 8px;
    }

    .modal-header {
      padding: 0px 25px;
      padding-top: 25px;
      border-bottom: none !important;
      display: flex !important;
      justify-content: space-between;
    }

    .modal-footer {
      padding: 0 26px 15px;
      border-top: none !important;
    }

    .fade {
      background-color: #101820 !important;
      opacity: 1;
    }

    [type="button"],
    [type="reset"],
    [type="submit"],
    button {
      -webkit-appearance: button;
      border: none;
      background: transparent;
    }
  }

  /* value my vehicle css */

  .value-my-vehicle-modal {
    .modal-dialog {
      max-width: 400px;
      max-height: 627px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .modal-header {
      display: flex;
      justify-content: space-between;
    }

    h4 {
      font-weight: bold;
      color: #101820;
    }

    .modal-body .kms-owners p,
    .modal-body .risk-assesment p,
    .modal-body .pricing-matrix p {
      font-size: 16px;
      color: #101820;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    .modal-body span {
      font-size: 14px;
      color: #7c868d;
    }

    .modal-body .bold {
      color: #101820;
      font-weight: bold;
    }

    .modal-footer button {
      background-color: #10cfc9;
      border: none;
      font-size: 14px;
      padding: 12px;
      border-radius: 8px;
    }

    .modal-body .note p {
      font-size: 11px;
      color: #7c868d;
      margin-top: 14px;
      margin-bottom: 0px;
    }

    .modal-body .svg-bg {
      margin-top: 20px;
      margin-left: 10px;
      max-width: 345px;
      height: 140px;
      background: url("assets/img/price_matrix_bg_design.png");
      background-position: center;
      color: #ffffff;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .modal-body .svg-bg p {
      font-size: 12px;
      color: #ffffff;
    }

    .price-matrix-content {
      padding: 15px;
    }

    .price-matrix-content hr {
      margin: 0px;
      margin-bottom: 5px;
    }

    .modal-footer {
      border-top: none;
    }

    .small-close {
      width: 12px !important;
      height: 12px !important;
      font-size: 8px !important;
    }

    [type="button"],
    [type="reset"],
    [type="submit"],
    button {
      -webkit-appearance: button;
      border: none;
      background: transparent;
    }
  }
}

/****************************** 
  MEDIA QUERIES FOR 425px 
*******************************/

@media only screen and (max-width: 425px) {
  .navbar {
    padding: 10px 6px !important;

    .offcanvas-body {
      padding: 100px 50px !important;
    }

    a {
      color: #fff;
    }
  }

  .footer-content {
    padding: 25px 35px;
    justify-content: center;

    .logo {
      text-align: center;
    }

    .footer-nav ul {
      padding-left: 14px;
    }

    .footer-nav ul :nth-child(5) {
      margin-top: 6px Im !important;
    }

    .footer-nav {
      margin-top: 20px;
    }
  }

  .home {
    .search-bar-container {
      display: block;

      .tab-container {
        width: 100%;
      }

      .search-form {
        padding: 16px;
        gap: 16px;

        .form-select,
        .input-group,
        .search-btn {
          width: 100%;
        }
      }
    }

    .banner-1 {
      .main-banner-text {
        width: 280px;
        height: auto;
        right: 8px;
        top: 60px;
      }

      .main-banner-text-left {
        width: 280px;
        height: auto;
        left: 8px;
        top: 80px;
      }

      .main-banner-img {
        height: 500px;
      }
    }

    .info-container {
      padding: 380px 0px 0px;

      .info-grids {
        padding: 25px;
      }

      .info {
        width: 180px;
      }
    }

    .banner-2 {
      .banner-text {
        padding: 0px 20px;
        margin-left: 30px;

        .title {
          font-size: 40px;
        }
      }
    }

    .car-slider {
      padding: 26px;

      .title {
        display: flex;
        flex-direction: column;
      }

      .title::after {
        width: 100%;
      }

      .slider {
        gap: 24px;
      }
    }
  }

  .about-container {
    .text-content {
      padding: 0px 35px;
    }
  }

  .car-details {
    .car-overview,
    .car-extra-details {
      width: 90% !important;
      margin: auto;
    }

    .overview-spec {
      flex-wrap: wrap;
    }

    .info {
      width: 140px !important;
    }
  }

  .buy-used-container {
    .sidebar-wrapper {
      max-width: 100%;
    }

    .buy-used-cards .card-col {
      width: 100%;
      margin: 25px auto;
    }

    .card {
      margin: 0 auto;
      max-width: 330px !important;
    }

    .page-specs {
      display: flex;
      flex-direction: column;
      gap: 0px;
    }

    .title {
      padding: 8px;
    }
  }
}
